@import url(https://areyouivan.github.io/first-reactProject/src/pages/styles/Badges.css);

.Badges__buttons {
  max-width: 548px;
  min-width: 300px;
  margin: 0 auto;
}

.btn {
  /* Most suitable option */
  box-shadow: 0px 4px 2px #618834;
  min-width: 100px;
  font-size: 16px;
  font-family: 'Noto Sans';
  
  min-width: 100px;
  background: #76a700;
  border-radius: 81px;

  /* First Option */

  /* margin: 0 auto 0 calc(60% - 120px);
height: 100%;
position: static; */

  /* Second Option */

  /* margin: 0 35%;
display: flex;
justify-content: flex-end; */
}

.Badges_conf-logo {
  width: 55%;
}
