/* This page depends to Home.css because it is its parent.
  -This file contains two MEDIA QUERIES. */

.header {
  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.platziConf__container {
  width: 60%;
}

.platziConf {
  width: 100%;
}

p {
  font-size: 1.2rem;
}
.header__col-left {
  width: 45%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.header__col-left h1 {
  margin-top: 1rem;
  font-family: lato;
  font-size: 40px;
  text-align: left;
}

.header__text {
  width: fit-content;
}

.header__text p {
  font-size: 1.7rem;
  font-weight: 300;
}

.header__col-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/elipse.svg);
}

.astronauts__container {
  width: 80%;
  margin-bottom: 6rem;
}

.astronauts {
  width: 100%;
}

.header__btn {
  /* Most suitable option */
  min-width: 100px;
  width: 250px;
  height: 55px;
  border-radius: 81px;
  padding: 0.2rem;
  margin-bottom: 6rem;
  margin-top: 2rem;
  background: #98ca3f;
  font-size: 32px;
  font-weight: 300;
  font-family: "Noto Sans";
  text-align: center;
  text-decoration: none;
  color: white;
  filter: drop-shadow(-1px 0px 33px #76a700);
}

.header__btn:hover {
  background: #9bcf41;
}

a:hover {
  color: #fff;
  font-weight: 400;
}

.social-media {
  position: fixed;
  width: auto;
  bottom: 10px;
  left: 10px;
}

.facebook,
.twitter,
.instagram {
  margin: 10px;
}

@media (max-width: 1012px) {
  .header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__col-right {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .header__col-left {
    width: 500px;
    height: auto;
    max-width: 500px;
    min-width: 300px;
    margin: 60px 0 0 0;
  }
  .platziConf__container {
    width: 100%;
  }

  .platziConf {
    margin: 0;
  }
  .header__text {
    width: 100%;
  }

  .astronauts__container {
    max-width: 600px;
    min-width: 200px;
    margin: 0;
  }

  .astronauts {
    margin: 0;
  }
}

@media (max-width: 450px) {
  .header__col-left {
    width: auto;
    max-width: 500px;
    min-width: 300px;
  }
  .platziConf__container {
    width: fit-content;
  }

  .platziConf {
    margin: 0;
  }
  .header__text {
    width: 282px;
  }
}
