.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  height: 70px;
  background: #1d343f;
  display: flex;
  color: white;
  align-items: center;
}

.Navbar__brand {
  color: #ffffff;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.Navbar__brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.Navbar__menu {
  display: inline;
}

.nav-link {
  color: white;
  font-size: bold;
  padding: .4rem .8;
  vertical-align: middle;
  margin: 0 50px;
}

.Navbar__bar {
  width: 100%;
  height: auto;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #028695;
  border-radius: 84.8756px;
}
